<%= form_for(@applicant) do |a| %>
    <% if @applicant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @applicant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class = "field">
      <%= a.label :name %>
      <%= a.text_field :name, style: 'width:345px; height:25px;' %>
    </div>
    <div class = "field">
      <%= a.label :email %>
      <%= a.text_field :email, style: 'width:350px; height:25px;'%>
    </div>
    <br>
    <div class = "action">
      <%= a.label :challenge %>
      <%= a.select(:challenge_id, @challenges.collect { |r| [r.id]}) %> &nbsp;
      <%= a.submit %>
    </div>
    <br>
<% end %>